
@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>
<table width="100%">
    <tr>
        <td width="100%">
            @Html.ActionLink("Back to EDIT", "AddBigBash")
        </td>
    </tr>
</table>
