<html>

<head>

    <title>@ViewBag.Title</title>
</head>
<body>

    <table border="1" width="100%" style="font-family:Calibri">
        <tr>

            <td colspan="2" background="~/Content/Images/bigbashhead.jpg" style="height:120px"></td>
        </tr>
        <tr>
            <td width="30%" background="~/Content/Images/BigBashLeft.jpg"></td>

            <td width="90%">@RenderBody()</td>
        </tr>
        <tr>

            <td colspan="10" background="~/Content/Images/BigBash.jpg" style="height:140px"></td>
        </tr>
    </table>
</body>
</html>